<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306736103888-g5k3onl29q44sk97lh9mcselm7ro10gu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306736103888-g5k3onl29q44sk97lh9mcselm7ro10gu</string>
	<key>API_KEY</key>
	<string>AIzaSyCCKXGTB6rJH0MiAsV-uCF6Pcw_gxuKDBA</string>
	<key>GCM_SENDER_ID</key>
	<string>306736103888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zuraaya</string>
	<key>PROJECT_ID</key>
	<string>zuraaya-d82fa</string>
	<key>STORAGE_BUCKET</key>
	<string>zuraaya-d82fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306736103888:ios:0b180b4c063d62bbc6b9d5</string>
</dict>
</plist>